@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* (Light Mode) */
  --background: #F3F4F6;
  --cards_menus: #FFFFFF;
  --first_text: #1F2937;
  --second_text: #6B7280;
  --buttons-text: #F9FAFB;
  --highlight: #2541B2;
  --corners: #E5E7EB;
  --error: #EF4444;
  --warning: #F59E0B;
  --success: #10B981;
}

.dark {
  /* (Dark Mode) */
  --background: #111827;
  --cards_menus: #1F2937;
  --first_text: #F9FAFB;
  --second_text: #9CA3AF;
  --buttons-text: #F9FAFB;
  --highlight: #1c289b;
  --corners: #374151;
  --error: #E57373;
  --warning: #F0B44D;
  --success: #81C784;
}